<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="lib/jquery-1.9.1.min.js"></script>
<!--<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>-->

<a href="https://github.com/DennisGuo/geo-polymerization.git" target="_blank">
    <img style="position: fixed; bottom: 0; right: 0; border: 0;z-index:999" src="http://rule.ciyuer.com/images/forkme_light_background.png" alt="Fork me on GitHub">
</a>