<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <% include partials/head %>
  <!-- Custom styles for this template -->
  <link href="css/index.css" rel="stylesheet">
</head>

<body>

  <% include partials/nav %>
  
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
          聚合服务请求内容：<span class="text-primary">/cluster/mo?bbox=<i id="bbox" class="text-danger"></i>&zoom=<i id="zoom" class="text-danger"></i></span>

          <span class="pull-right">
            耗时 ：服务[ <i id="time-service" class="label label-danger"></i> ] , 渲染[ <i id="time-render" class="label label-info"></i> ]
          </span>
      </div>
      <div class="panel-body map-box">
        <div id="mapDiv"></div>
      </div>
    </div>

      
  </div>
  <!-- /.container -->


 <% include partials/script %>

<script>
    var gb_ImageUrl = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port +
        "/lib/MapExpressFlash/images/";
</script>
<script src="lib/MapExpressFlash/MapExpress.js"></script>
<script src="lib/GBMap.js"></script>
<script src="js/index.js"></script>

</body>

</html>