<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="GeoBeans聚合服务测试">
  <meta name="author" content="guohengxi.dennis@gmail.com">
  <link rel="icon" href="favicon.ico">

  <title>GeoBeans聚合服务测试</title>

  <!-- Bootstrap core CSS -->
  <link href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="css/index.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#">聚合服务测试</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <!--<li class="active"><a href="#">Home</a></li>-->
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
          聚合服务请求内容：<span class="text-primary">/cluster/mo?bbox=<i id="bbox" class="text-danger"></i>&zoom=<i id="zoom" class="text-danger"></i></span>

          <span class="pull-right">
            耗时 ：服务[ <i id="time-service" class="label label-danger"></i> ] , 渲染[ <i id="time-render" class="label label-info"></i> ]
          </span>
      </div>
      <div class="panel-body map-box">
        <div id="mapDiv"></div>
      </div>
    </div>

      
  </div>
  <!-- /.container -->


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <script src="lib/jquery-1.9.1.min.js"></script>
  <!--<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>-->
  <script>
    var gb_ImageUrl = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port +
      "/lib/MapExpressFlash/images/";
  </script>
  <script src="lib/MapExpressFlash/MapExpress.js"></script>
  <script src="lib/GBMap.js"></script>
  <script src="js/index.js"></script>

</body>

</html>