<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="css/readme.css">
  <link rel="stylesheet" href="css/monokai.css">
  
</head>

<body>

  <% include partials/nav %>
  
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        <%- html%>
      </div>
    </div>

      
  </div>
  <!-- /.container -->


 <% include partials/script %>

</body>

</html>